
.demo-card-wide.mdl-card {
  width: 100%;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../img/covid-19.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.padding-10{
	padding:10px;
	}
.margin-auto{
	margin:auto;
}
.purple-bg{
	background:#9c27b0;
}

.mdl-data-table {
    table-layout:fixed;
    width:100%; 
}
#my-table td, th {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}


/* unrelated to responsive table css */
#my-table{
  margin-top:10px;
}
.material-icons {
  vertical-align: -25%;
}
.mdl-data-table th, td{
  text-align: left !important;
}
.center{
  text-align:center;
}